body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-title {
  font-weight: 700;
  font-size: 24px;
}

.button-text {
  font-size: 14px;
  font-weight: 700;
}

.image-caption {
  font-size: 15px;
  font-weight: 500;
}

.main-title {
  font-size: 40px;
  font-weight: 700;
}

.subheader-text {
  font-size: 22px;
  font-weight: 700;
}

.body-text {
  font-size: 18px;
  font-weight: 500;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 6px;
}

.section-title {
  font-size: 16px;
  font-weight: 500;
}

.section-year {
  font-size: 14px;
  color: #777;
}

.section-desc {
  font-size: 15px;
  color: #555;
  line-height: 1.6;
  margin-left: 5px;
}


.project-card-text {
  overflow: hidden;
  font-size: 16px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.project-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.project-subtitle {
  font-size: 18px;
  font-weight: 500;
}

.project-text {
  font-size: 16px;
  font-weight: 400;
  /* line-height: 1.6; */
}